@import 'variables';

/*#region custom Offer*/
.MODAL__modal-content-header-ue9c13af0 {
    background-color: $card-bg;
    border-bottom: 1px solid $border-color;
}

.custom-offer-package .select-gig button {
    background-color: $background;
    color: $text-heading;
    border-bottom: 1px solid $border-color;
}

.custom-offer-package .select-gig button:hover {
    background-color: $background-hover;
}

.MODAL__modal-content-header-ue9c13af0>h2,
.text-display-2 {
    color: $active;
}

.MODAL__modal-content-body-u3822b3b5 {
    background-color: $card-bg;
    border-bottom: 1px solid $border-color;
}

.custom-offer-package .milestone-banner {
    background-color: $card-bg;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

.custom-offer-package .method-one-delivery label {
    background-color: $card-bg;
    border: 1px solid $border-color;
}

.custom-offer-package .offer-scope .title {
    background-color: $card-bg;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}
/*#endregion*/