@import "variables";

.search-bar-package .search-bar-panel {
    border: 1px solid $border-color;
    background-color: $background;
    color: #777;
}

.search-bar-package .search-bar-panel button.selected, .search-bar-package .search-bar-panel button:hover {
    background-color: $border-color;
}

.categories-menu-package .multi-panel .section-list {
    border-right: 1px solid $border-color;
}
.categories-menu-package .multi-panel .section-list>li.active {
    background-color: $header-background;
}
.logged-in-homepage-wrapper {
    background-color: $background;
}
.personalized-content .recommendations-carousel.pro-gigs-list-view, .personalized-content .recommendations-carousel.pro-gigs-sliding-carousel {
    padding: 0;
    background-color: $background;
}

.header-package .fit-popover .fit-popover-box-content {
    position: relative;
    background-color: $card-bg;
    border: 1px solid $border-color;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
}
.resources-tab-package .popover-content:after {
    border-color:$border-color transparent transparent $border-color;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
}
.resources-tab-package .popover-content:before {
    border-color: $border-color transparent transparent $border-color;
    border-style: solid;
    border-width: 12px;
}
body.with-white-back .mp-box:not(.bottom-bar-flash):not(.page-alert):not(.site-footer):not(.non-white), body.with-white-back .mp-box.mp-box-wide:not(.bottom-bar-flash):not(.page-alert):not(.site-footer):not(.non-white) {
    background-color: $background;
}
.mp-box.topline {
    border-top: 1px $header-background solid;
}