@import 'variables';

/*#region Scroll Bars */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover;
}

/*#endregion */