@import "variables";

* {
    --scrollbar-track: #555555;
    --scrollbar-thumb: #1dbf73;
    --scrollbar-thumb-hover: #169a5c;
    --header-background: #181A1B;
    --card-bg: #181A1B;
    --background: #1D1F20;
    --background-hover: rgb(22, 23, 24);
    --active: #1dbf73;
    --border-color: rgb(55, 59, 62);
    --text-color: #949494;
    --text-azure: #1fd0b6;
    --panel-heading-bg: rgb(55, 59, 62);
    --text-heading: #cdcdc8;
}

/*
    Open Source Repository for fiverr dark theme
*/

/*#region stylus version 1 */

body {
    color: $text-color;
}

/*#region profile page*/
.standalone-nav-bar {
    background-color: $background;
}

.standalone-nav-bar>div .categories-menu-package {
    background-color: $background;
}

.standalone-nav-bar>div .categories-menu-package {
    background-color: $header-background;
}

.standalone-nav-bar {
    border-bottom: 1px solid $border-color;
}

.seller-card {
    background-color: $card-bg;
    border-color: $border-color;
    color: #cdcdc8;
}

.seller-card .user-stats {
    border-top: 1px solid $background;
}

.user-page-perseus .seller-profile {
    border: 1px solid $border-color;
    background: $card-bg;
}

.user-page-perseus .seller-profile>div {
    border-bottom: 1px solid $border-color;
}

.user-page-perseus .seller-profile .skills li {
    border: 1px solid $border-color;
}

.user-page-perseus {
    background: $background;
}

.user-page-perseus .seller-profile .skills li a {
    color: $text-color;
}

h3,
.text-display-3 {
    color: $text-azure;
}

#main-wrapper {
    background: $background;
}

.mp-seller-profile .form-thin article>form {
    border-bottom: 1px solid $border-color;
}

/* gigcards */
.gig-wrapper.card {
    background-color: $card-bg;
    border: 1px solid $border-color;
}

.gig-wrapper.card footer {
    clear: both;
    border-top: 1px solid $border-color;
}

.gig-wrapper h3 a {
    cursor: pointer;
    color: $text-color;
}

.gig-wrapper .seller-info .seller-name a {
    color: $text-color;
}

.db-new-main-table table td,
.db-new-main-table table thead tr.header-filter td,
.alt,
.db-requests .offers-left,
input[type=search] {
    border-top: 1px solid $card-bg !important;
    border-bottom: 1px solid $card-bg !important;
}

/*#endregion*/

/*#region Header*/
.header-row-wrapper,
.nav-popover-items-content,
.toggler-popover aside.bottom .tip:after {
    background-color: $header-background;
}

.fiverr-header .header-row-wrapper {
    border-bottom: 1px solid #373C3E;
}

.toggler-popover aside {
    border: 1px solid #373C3E;
}

.fiverr-nav .nav-popover-items-content .divider {
    border-top: 1px solid #373C3E;
}

/* navigation bar drop down  */
.categories-menu-package .categories>li.open>ul {
    background: $background;
    border: 1px solid $border-color;
    -webkit-box-shadow: 0 1px 3px $border-color;
    box-shadow: 0 1px 3px $border-color;
}

.categories-menu-package .sub-menu-item.linked-title>p {
    color: $text-color;
}

/*  popover */
.popover-notifications-drawer .tab-switch {
    background: $background;
    color: $text-color;
}

.popover-notifications-drawer .drawer-item.read {
    background: $background;
}

.popover-notifications-drawer .drawer-item:not(:last-child) {
    border-bottom: 1px solid $border-color;
}

.popover-notifications-drawer .wrapper>header {
    border-bottom: 1px solid $border-color;
}

.toggler-popover aside {
    background-color: $background;
    position: absolute;
    z-index: 1001;
    border: 1px solid $border-color;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
}

.popover-notifications-drawer .items-list {
    height: 100%;
    width: 100%;
    background: $background;
}

.popover-notifications-drawer .wrapper>footer {
    border-top: 1px solid $border-color;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popover-notifications-drawer .wrapper>header button:not(:first-child) {
    border-left: 1px solid $border-color;
}

.popover-notifications-drawer .drawer-item.read .content:after {
    background: -webkit-gradient(linear, right top, left top, from($border-color), to(hsla(0, 0%, 100%, 0)));
    background: -o-linear-gradient(right, $border-color, hsla(0, 0%, 100%, 0));
    background: linear-gradient(270deg, $border-color, hsla(0, 0%, 100%, 0));
}

/* the triangle */
.toggler-popover aside.bottom .tip:after {
    top: 1px;
    border-bottom-color: $border-color;
}

.drawer .drawer-item.read .content:after {
    background: -webkit-gradient(linear, right top, left top, from($border-color), to(hsla(0, 0%, 100%, 0)));
    background: -o-linear-gradient(right, $border-color, hsla(0, 0%, 100%, 0));
    background: linear-gradient(270deg, $border-color, hsla(0, 0%, 100%, 0));
}

.drawer .drawer-item .main-action {
    color: $text-color;
}

/*#endregion Header Ends*/

/*#region Profile Page*/
.seller-card,
.status-filter-bar,
.fiverr-learn,
.mp-seller-profile article,
.user-page-reviews-package> :nth-child(n),
.gig-card-base:not(.list-view-card),
.mp-seller-profile .form-thin article,
.seller-card .seller-link,
.gig-card-base h3,
.reviews-package .review-description p,
.reviews-package .country .country-name,
.mp-seller-profile .form-thin article .inner-row.social-account ul li.is-selected,
.mp-seller-profile .form-thin article .inner-row.social-account ul li.is-selected span,
.mp-seller-profile .form-thin article .inner-row.skills .skill-bubble,
.mp-seller-profile .form-thin article .inner-row.skills .recommendation-wrapper .skill-bubble,
.mp-seller-profile .form-thin article .inner-row .items-list .title {
    background-color: $card-bg;
    border-color: rgb(55, 59, 62);
    color: #cdcdc8;
}

.mp-seller-profile .form-thin article .inner-row.social-account ul li:hover,
.mp-seller-profile .form-thin article .inner-row.skills .skill-bubble:hover,
.mp-seller-profile .form-thin article .inner-row.skills .skill-bubble .animate {
    background-color: rgb(27, 29, 30);
    border-color: rgb(55, 59, 62);
}

.status-filter-bar li.selected-filter,
h5,
.text-display-5,
.mp-seller-profile .form-thin article h3 {
    color: #d9d9d9;
}

/*#endregion*/

/*#region Inbox Styling*/
.inbox_perseus,
.contacts-container header,
.contacts-list>.contact.active-contact,
.route,
#conversation>header,
.textarea-container textarea .message-flow .content>div .message:hover,
.message-box,
.contacts-container,
.contacts-list>.contact,
.message-box,
.message-box .textarea-container textarea,
.message-box .message-uploader-container,
.action-offer,
.search-bar-package form input {
    background-color: #1D1F20;
}

.route,
#conversation>header,
.contacts-list>.contact,
.contacts-container header,
.contacts-container,
.message-box .message-uploader-container,
.contact-label,
.search-bar-package form input,
.details-pane .orders .order-card,
.details-pane {
    border-color: rgb(55, 59, 62);
}


/*hovering color*/
.contacts-list>.contact:hover,
.details-pane .orders .order-card:hover,
.message:hover {
    background-color: rgb(27, 29, 30);
}


#conversation .message-flow .message-content .message-body,
.message .sender,
.contacts-list>.contact p,
.fiverr-message h6,
.fiverr-message p,
.fiverr-message a,
.contacts-list>.contact strong,
.fiverr-message button,
.button-link,
.related-to a .text-wrapper p,
.related-to a .text-wrapper p,
.details-pane .summary .username,
.user-level,
.details-pane li,
.details-pane .orders .active-order,
.details-pane .orders .order-card .order-info .order-status small,
.details-pane .orders .order-card .order-info .delivery-time span,
.fa-clock-o:before,
.message-box .textarea-container textarea,
.details-pane h2 #conversation>header .upper-row .user-info h,
#conversation>header .upper-row .user-info h1,
.contact-label {
    color: #cdcdc8;
}

/*#endregion*/

/*#region Request Page*/
.mp-box {
    background-color: #1D1F20;
}

.date,
.see-more,
.profile-40,
.applications,
.hidden-action,
.js-filter-title,
.sort-by,
.db-new-main-table table thead tr,
.db-new-main-table>table>tbody>tr>td,
.db-load-more a,
.tags-standard.tags-white-bg a,
.tags-standard.tags-white-bg span {
    background-color: #181A1B;
}

body.pro-experience .db-new-main-table table tbody tr:hover td,
.db-load-more a:hover {
    background-color: rgb(30, 33, 34);
}

.db-load-more a,
.tags-standard.tags-white-bg a,
.tags-standard.tags-white-bg span {
    border: 1px solid #373C3E;
}

.db-new-main-table table td,
.db-new-main-table table thead tr.header-filter td,
.alt,
.db-requests .offers-left,
input[type=search] {
    border-top: 1px solid #373C3E;
    border-bottom: 1px solid #373C3E;
}

.db-new-main-table table td:first-child {
    border-left: 1px solid #373C3E;
}

.db-new-main-table table td:last-child {
    border-right: 1px solid #373C3E;
}

.db-new-filters .tabs {
    border-top: 1px solid $background;
    border-bottom: 1px $border-color solid;
}

.db-new-main-table table td,
.db-new-main-table table thead tr.header-filter td,
.alt,
.db-requests .offers-left,
input[type=search],
.tags-standard.tags-white-bg a,
.tags-standard.tags-white-bg span {
    color: #cdcdc8;
}

.db-new-filters .tabs li a:hover {
    color: #cdcdc8;
}
.db-new-filters .tabs li.pointer {
    border-bottom: 10px solid $border-color;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.db-new-filters .tabs li.pointer:before {
    border-bottom: 9px solid $border-color;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}
.db-new-main-table table td, .db-new-main-table table thead tr.header-filter td, .alt, .db-requests .offers-left, input[type=search] {
    border-top: 1px solid $background !important;
    border-bottom: 1px solid $background !important;
}

/*#endregion*/

/*#region Footer*/

.site-footer {
    background-color: #1D1F20;
}

.footer-package .footer-collapsibles:after {
    background-color: #373C3E;
}

.site-footer {
    border-top: 1px solid #373C3E;
}

/*#endregion*/

/*#region Seller Dashboard*/
.seller-performance-wrapper {
    background: $card-bg;
    border-bottom: 1px solid $border-color;
}

.dashboard-wrapper .seller-dashboard-wrapper {
    background: $background;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $background;
}

.user-conversations header {
    background: $card-bg;
    border: 1px solid $border-color;
}

.user-conversations .items-container {
    border-bottom: 1px solid $border-color;
}

@media only screen and (min-width: 1160px) {

    .seller-performance-wrapper {
        margin: 32px 0 auto 32px;
        border: 1px solid $border-color;
    }
}

.user-conversations .items-li {
    border: 1px solid $border-color;
}

.user-conversations .conversation {
    background: $card-bg;
}

.active-orders-wrapper {
    background: $background;
}

.dashboard-wrapper .education-tips .tip-card {
    background: $card-bg;
    border: 1px solid $border-color;
}

.dashboard-wrapper .keys-of-success-in-fiverr-banner {
    background: $card-bg;
    border: 1px solid $border-color;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 40px 32px 48px;
}

.seller-performance-wrapper .profile-progresses-wrapper .progresses-wrapper {
    margin-top: 26px;
    padding-top: 18px;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    padding-bottom: 4px;
}

@media only screen and (min-width: 600px) {
    .active-orders-wrapper .filter-wrapper {
        background: $card-bg;
        border: 1px solid $border-color;
    }
}

.active-orders-wrapper .filter-wrapper h3 {
    color: $text-azure;
}

.active-orders-wrapper .delimiter span {
    background: $background;
    color: #555;
}

.active-orders-wrapper .delimiter {
    border-top: 2px solid $border-color;
}

.dashboard-wrapper .through-this-together-banner {
    background: $card-bg;
    border: 1px solid $border-color;
}

.seller-education-wrapper .inner {
    background: $card-bg;
    border: 1px solid $border-color;
}

.seller_dashboard_perseus .fit-popover .fit-popover-box-content {
    background-color: $card-bg;
    border: 1px solid $border-color;
}

.active-orders-wrapper button[value=completed] {
    border-top: 1px solid $border-color;
}

.seller_dashboard_perseus .fit-select-option {
    color: $text-color;
}

.seller_dashboard_perseus .fit-select-option:hover {
    background: $background;
}

.seller_dashboard_perseus .fit-select,
.seller_dashboard_perseus .fit-select {
    border-color: $border-color;
}

.seller_dashboard_perseus .fit-select:focus,
.seller_dashboard_perseus .fit-select:hover {
    border-color: $border-color;
}

.seller_dashboard_perseus .fit-icon {
    fill: $border-color;
}

/*#endregion*/

/*#region Buyer Dashboard*/
.reviews-package .reviews-header,
.reviews-package .review-list.no-ranking li,
.reviews-package .load-more-wrapper,
.reviews-package .review-list .review-item {
    background-color: var(--background);
    border-top: 1px solid var(--border-color);
}

.reviews-package .helpful-thumbs .helpful-thumb .thumb-title {
    color: var(--text-color);
}

.reviews-package .review-description p,
.user-page-perseus .gigs-reviews-panel .reviews-wrapper .reviews-package+.reviews-package {
    background-color: var(--background);
}

/*#endregion*/

/*#region Earnings*/
.db-stats-standard {
    background-color: $card-bg;
    border: 1px $border-color solid;
}

.db-stats-standard a,
.db-stats-standard>span {
    color: $text-color !important;
    border-left: 1px solid $border-color;
}

.db-new-header h1 .money-expected {
    color: $text-color;
}

.earnings-package .withdraw-buttons-list .withdraw-button {
    background: $card-bg;
    border: 1px solid $border-color;
}

/* .earnings-package .withdraw-buttons-list .withdraw-button.disabled {
    border-color: rgb(139 3 3;
    color: #b5b6ba;
} */
.btn-standard.disabled,
.btn-standard:disabled {
    color: #999 !important;
    border-color: $border-color !important;
    background-color: $card-bg !important;
}

.earnings-package .withdraw-buttons-list .withdraw-button:hover {
    color: $active;
}

/*#endregion*/

/*#region Scale Your Business */
.db-sales-promotion .form-row {
    background: $card-bg;
    border: 1px $border-color solid;
}

.db-sales-promotion .form-row:last-child {
    border-bottom: 1px $border-color solid;
}

/*#endregion*/

/*#region Manage Requests */
.db-manage-requests .db-empty-state {
    background-color: $card-bg;
    border: 1px $border-color solid;
}

.db-manage-requests .db-empty-state ul li h3 {
    color: $text-azure;
}

/*#endregion*/

/*#region settings*/
.db-sidebar .db-nav.nav-grey a.sel {
    color: $active;
    position: relative;
}

.db-content {
    background-color: $card-bg;
    border: 1px $border-color solid;
}

textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    background-color: $background;
    color: $text-color;
    border: 1px $border-color solid;
}

textarea:active,
textarea:focus,
input[type=date]:active,
input[type=date]:focus,
input[type=datetime]:active,
input[type=datetime]:focus,
input[type=datetime-local]:active,
input[type=datetime-local]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=month]:active,
input[type=month]:focus,
input[type=number]:active,
input[type=number]:focus,
input[type=password]:active,
input[type=password]:focus,
input[type=search]:active,
input[type=search]:focus,
input[type=tel]:active,
input[type=tel]:focus,
input[type=text]:active,
input[type=text]:focus,
input[type=time]:active,
input[type=time]:focus,
input[type=url]:active,
input[type=url]:focus,
input[type=week]:active,
input[type=week]:focus {
    border: 1px #1dbf73 solid;
    color: $text-color;
    box-shadow: inset 2px 2px 2px $border-color;
}

.profile-form .form-divi {
    background-color: $border-color;
}

select {
    /*     background: $background) url(//assetsv2.fiverrcdn.com/assets/v2_globals/select-caret-77232a3….gif), no-repeat right center; */
    /* 	background: $background; */
    color: #62646a;
    border-color: $border-color;
}

.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-menu li>a.selected,
.dropdown-menu li input[type=submit]:hover,
.dropdown-menu li input[type=submit]:focus,
.dropdown-menu li input[type=submit].selected {
    background-image: none;
    background: $background;
    color: #1dbf73;
}

.session-management-package .session-row {
    border: solid $border-color;
}

hr {
    border-top: 1px solid $border-color;
}

.payment-methods-table-title {
    background-color: $panel-heading-bg;
    border: 1px solid $border-color;
}

.payment-methods-table-row {
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
}

.payment-methods-table-title .title-total-amount {
    border-left: 1px solid $card-bg;
}

.no-credits-placeholder {
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
}

/*#endregion*/

/*#region analytics*/
.top-bar .topbar-stats {
    background-color: $card-bg;
    border: 1px $border-color solid;
}

.top-bar .topbar-stats>ul>li {
    color: #303030;
    border-left: 1px solid $border-color;
}

section.stats-section:nth-of-type(odd) {
    background-color: $card-bg;
    border: 1px solid $border-color;
}

section .graph-no-data {
    background: $card-bg;
    border: 1px solid $border-color;
}

section select {
    border-color: $border-color;
    background-color: $card-bg;
}

h2,
.text-display-2 {
    color: $text-color;
}

.launcher-icon-container {
    background: $panel-heading-bg;
}

.progress-container {
    background: $border-color;
}

.level-message .divider {
    background: $border-color;
}

.standards .standards-title {
    color: $text-color;
}

.ratings .ratings-container .rating-section h3 {
    color: $text-azure;
}

.video-button {
    background-color: $panel-heading-bg;
    color: #999;
}

.progress-container {
    background: $card-bg;
}

.user-conversations .conversation:hover {
    background-color: $card-bg;
}

.fiverr-learn .course-list+footer {
    margin-top: 5px;
    border-top: 1px solid $border-color;
    padding-top: 15px;
}

path {
    stroke: $border-color;
}

rect {
    fill: $text-color;
}

text {
    fill: $text-azure !important;
}

/*#endregion*/

/*#region Order Page*/
.db-new-main-table table tr.order-extra td {
    background-color: $header-background;
}

/*#endregion*/

/*#region Manage Orders Page*/
.order-tabs-wrapper,
.db-order-activity .order-resolution main,
.db-order-activity .order-resolution main table.change-order-table tr th,
.db-order-activity .order-resolution main table.change-order-table tr td,
.db-order-activity .order-messages .conv-message,
.order-review-posted,
.order-review-posted .conv-message .review-summary,
.order-seller-response .review-form-response .form-expanded textarea,
.order-notes-wrapper.note-order-page,
.mp-order .db-sidebar .resolution-cta,
.msg-form-fixed .conv-write {
    background-color: $card-bg;
    border: 1px solid $border-color;
}

.conv-write .write-wrap .write-row textarea#message_body,
.conv-write .write-wrap .write-controls,
.unfurl-preview-wrapper {
    background-color: $card-bg;
}

#action-bar {
    background-color: $card-bg;
    border-bottom: 1px solid $border-color;
}

.quick-responses header .use-qr {
    color: $text-heading;
}

section.recent-conversations .order-status-lrg {
    background-color: $card-bg;
    border-bottom: 1px solid $border-color;
}

.db-order-activity .order-gig-details,
.db-order-activity .order-messages {
    border-top: 15px solid $border-color;
    background: none;
}

.db-order-activity .order-status-lrg.border-bottom,
.formed-requirements-wrapper .requirements-header,
.old-requirements-style .requirements-header,
.order-notes-wrapper.note-order-page .note-wrapper>p {
    border-bottom: 1 solid $border-color;
}

button,
input,
select,
textarea {
    background-color: $header-background;
}

.db-order-activity .order-gig-detail table thead tr td {
    background-color: $header-background;
    border-top: 1px solid $border-color;
}

.db-order-activity .order-gig-detail table tr,
.db-order-activity .order-gig-detail table thead tr,
.db-order-activity .order-gig-detail table tbody tr .truncated,
.qty,
.date,
.amount {
    border-top: 1px solid $border-color;
}

.db-order-activity .order-gig-detail table thead tr td,
.order-review-posted .conv-message .review-summary a,
.conv-message h4 {
    color: $text-heading;
}

.db-order-activity .order-gig-detail table tbody tr td,
.db-order-activity .order-gig-detail table tr.total td,
.db-order-activity .order-gig-detail table tr.package-order h5,
.formed-requirements-wrapper .requirements-view,
.old-requirements-style .requirements-view,
.formed-requirements-wrapper .requirements-view .requirement .requirement-body,
.old-requirements-style .requirements-view .requirement .requirement-body,
.order-seller-response .review-form-response .form-expanded label,
.order-review-posted .conv-message .review-summary p {
    color: $text-color;
}

/*#endregion*/

/*#endregion*/