
// scroll bars
$scrollbar-track:#555555;
$scrollbar-thumb:#1dbf73;
$scrollbar-thumb-hover:#169a5c;

$header-backgrond:#181A1B;
$card-bg: #181A1B;
$background: #1D1F20;
$active: #1dbf73;
$border-color: rgb(55, 59, 62);
$text-color: #949494;
$text-azure: #1fd0b6;
$panel-heading-bg: rgb(55, 59, 62);